html, body, #root {
  margin: 0;
  padding: 0 auto;
}

/* --text-font-size: 16px; */

:root {
  /* --primary-color: #302AE6; */
  /* --secondary-color: #536390; */
  --font-color: #424242;
  --bg-color: #fff;
  --border-color: #424242;
  --font-text-size: 16px;
  --responsive-padding: 2rem;

  /* --heading-color: #292922; */
}

[data-theme="dark"] {
  /* --primary-color: #9A97F3; */
  /* --secondary-color: #818cab; */
  --font-color: #e1e1ff;
  --bg-color: #000000;
  --border-color: #e1e1ff;
  --font-text-size: 16px;
  --responsive-padding: 2rem;


  /* --heading-color: #818cab; */
}

@media (max-width: 576px) {
  :root {
  --font-text-size: 12px;
  --responsive-padding: 0.8rem;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.app {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
}

