:root {
  /* --primary-color: #302AE6; */
  /* --secondary-color: #536390; */
  --font-color: #424242;
  --bg-color: #fff;
  --border-color: #424242;
  /* --heading-color: #292922; */
}

[data-theme="dark"] {
  /* --primary-color: #9A97F3; */
  /* --secondary-color: #818cab; */
  --font-color: #e1e1ff;
  --bg-color: #000000;
  --border-color: #e1e1ff;

  /* --heading-color: #818cab; */
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.app {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

