html, body, #root {
  margin: 0;
  padding: 0 auto;
}

/*
  Inherits " box-sizing: border-box; "
  through out app
*/
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
img { box-sizing: content-box; }

/* --text-font-size: 16px; */

/* red - ff5252 */
/* Black 222 \
border - dadce0, fff
black font - RGBA(0, 0 ,0, 0.6) placeholder, deselcted subtitles
RGBA(0, 0 ,0, 0.87) - main textcolor


RGBA(255, 255 ,255, 0.7) - contrast color to place holder
*/

:root {
  /* --primary-color: #302AE6; */
  /* --secondary-color: #536390; */
  --font-color: #424242;
  --bg-color: #fff;
  --border-color: #424242;
  --text-font-size: 16px;

  --pagebar-height: 50px;

  /* PADDINGS */
  --responsive-padding: 2rem;

  /* MARGINS */
  --responsive-margin: 2rem;

  /* BORDERS */
  --image-border-color: #008dff;
  --pagebar-border-color: rgba(0,0,0,.14);
}

[data-theme="dark"] {
  /* --primary-color: #9A97F3; */
  /* --secondary-color: #818cab; */
  --font-color: #e1e1ff;
  --bg-color: #222;
  --border-color: #e1e1ff;
  --text-font-size: 16px;

  --pagebar-height: 50px;

  /* PADDINGS */
  --responsive-padding: 2rem;

  /* MARGINS */
  --responsive-margin: 2rem;

  /* BORDERS */
  --image-border-color: red;
  --pagebar-border-color: #fff;

}

@media (max-width: 576px) {
  :root {
  --text-font-size: 12px;
  --responsive-padding: 0.8rem;
  --responsive-margin: 0.8rem;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  overflow-x: hidden;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  max-width: 100%;
}

