.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 var(--responsive-padding);
}

.button {
  border: 1px solid var(--border-color);
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 30px;
}

.content {
  border: 1px solid var(--border-color);
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  font-size: var(--font-text-size);
  padding: var(--responsive-padding);
}

.imageContainer {
  height: 30rem;
  width: 24rem;
  border: 1px solid red;
  padding: 2rem;
}

.myImage {
  height: 100%;
  width: 100%;
}

.description {
  padding-left: var(--responsive-padding);
}

@media (max-width: 576px) {
  .imageContainer {
    height: 15rem;
    width: 10rem;
    border: 1px solid red;
    padding: 0.8rem;
  }
}
