.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button {
  border: 1px solid var(--border-color);
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 30px;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
}
